<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <p>By <%= blog.createdBy.fullName %></p>
        <img src="<%= blog.coverImageURL %>" alt="<%= blog.title %> Cover Image" style="max-width: 100%;">
        <p><%= blog.body %></p>
    </div>

    <%- include('./partials/script') %>
</body>
</html>
